{% extends "account/_base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}
  {% trans "Password reset" %}
{% endblock title %}
{% block content %}
  <section class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-7 col-sm-10">
        <div class="d-flex flex-column align-items-center gap-2">
          <h1>
            {% trans "Password reset" %}
          </h1>
          <p>
            {% blocktrans trimmed %}
              Forgotten your password? Enter your email address below, and we'll
              send you an email allowing you to reset it.
            {% endblocktrans %}
          </p>
        </div>
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            <ul class="list-unstyled mb-0">
              {% for error in form.non_field_errors %}
                <li>
                  {{ error }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% url 'account_reset_password' as password_reset_url %}
        {% url 'account_login' as login_url %}
        {% url 'store:index' as home_url %}
        {% with WIDGET_ERROR_CLASS="border-danger" %}
          {% trans "Email address" as email_label %}
          <form method="post" action="{{ password_reset_url }}" novalidate>
            {% csrf_token %}
            {{ redirect_field }}
            <div class="d-flex flex-column gap-4 mt-4">
              <div class="d-flex flex-column gap-2 mb-2">
                <label for="{{ form.email.id_for_label }}"
                       class="form-label visually-hidden">
                  {{ email_label }}
                </label>
                {% render_field form.email class="form-control form-control-lg" placeholder=email_label autofocus="autofocus" autocomplete="email" %}
                {% if form.email.errors %}
                  <div class="invalid-feedback d-block">
                    <ul class="list-unstyled mb-0">
                      {% for error in form.email.errors %}
                        <li>
                          {{ error }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
              <button type="submit" class="btn btn-lg btn-primary">
                {% trans "Reset my password" %}
              </button>
              {% if user.is_authenticated %}
                <a href="{{ home_url }}" class="btn btn-lg btn-secondary">
                  {% trans "Return to home" %}
                </a>
              {% else %}
                <a href="{{ login_url }}" class="btn btn-lg btn-secondary">
                  {% trans "Return to login" %}
                </a>
              {% endif %}
            </div>
          </form>
        {% endwith %}
      </div>
    </div>
  </section>
{% endblock content %}
