{% load i18n %}
{% load static %}

<footer class="footer bg-dark" data-bs-theme="dark">
  <div class="container py-4">
    <div class="nav flex-md-row flex-column justify-content-md-between justify-content-center align-items-center gap-3">
      <div class="text-body-secondary fs-md order-md-3">
        {% trans "Santo Domingo - Ecuador" %}
      </div>
      <div class="d-flex flex-column flex-md-row align-items-center gap-2 order-md-2">
        <span class="text-body-secondary fs-md">
          {% trans "Contact us on:" %}
        </span>
        <div class="d-flex gap-2">
          <a href="#"
             class="btn btn-icon btn-sm btn-secondary btn-whatsapp rounded-circle">
            <i class="ai-whatsapp"></i>
          </a>
          <a href="#"
             class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle">
            <i class="ai-facebook"></i>
          </a>
          <a href="#"
             class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle">
            <i class="ai-instagram"></i>
          </a>
        </div>
      </div>
      <a href="https://github.com/DenPaz"
         class="nav-link fw-normal fs-md order-md-1 p-0"
         target="_blank"
         rel="noopener">
        {% now "Y" %} © Dennis Paz
      </a>
    </div>
  </div>
</footer>
