{% load i18n %}

{# Footer #}
<footer class="footer bg-dark border-top shadow-sm py-6" data-bs-theme="dark">
  <div class="container">
    <div class="vstack flex-sm-row justify-content-between align-items-center gap-3">
      {# Location information #}
      <span class="text-secondary order-sm-3">Santo Domingo - Ecuador</span>
      {# Social media links #}
      <ul class="list-inline order-sm-2 mb-0">
        <li class="list-inline-item">
          <a href="https://wa.me/593992397041"
             class="btn btn-icon btn-sm btn-secondary btn-whatsapp rounded-circle"
             target="_blank"
             rel="noopener">
            <i class="ai-whatsapp fs-4"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/profile.php?id=100093974207249"
             class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle"
             target="_blank"
             rel="noopener">
            <i class="ai-facebook fs-4"></i>
          </a>
        </li>
      </ul>
      {# Copyright #}
      <div class="nav order-sm-1">
        <a href="https://github.com/DenPaz"
           class="nav-link fw-normal p-0"
           target="_blank"
           rel="noopener"
           aria-label="GitHub">© {% now "Y" %} Dennis Paz</a>
      </div>
    </div>
  </div>
</footer>
{# Scroll to top button #}
<a href="#top"
   class="btn-scroll-top"
   data-scroll
   aria-label="{% trans 'Scroll to top' %}">
  <svg viewBox="0 0 40 40"
       fill="currentColor"
       xmlns="http://www.w3.org/2000/svg">
    <circle cx="20"
            cy="20"
            r="19"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-miterlimit="10">
    </circle>
  </svg>
  <i class="ai-arrow-up"></i>
</a>
