{% load i18n %}

<footer class="footer bg-dark" data-bs-theme="dark">
  <div class="container py-4">
    <div class="nav flex-md-row flex-column align-items-center justify-content-md-between justify-content-center gap-3">
      <div class="text-body-secondary fs-md order-md-3">
        Santo Domingo - Ecuador
      </div>
      <div class="d-flex flex-column flex-md-row align-items-center gap-2 order-md-2">
        <span class="text-body-secondary fs-md">
          {% trans "Contact us on:" %}
        </span>
        <div class="d-flex gap-2">
          <a href="https://wa.me/593992397041"
             class="btn btn-icon btn-sm btn-secondary btn-whatsapp rounded-circle"
             target="_blank"
             rel="noopener">
            <i class="ai-whatsapp"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100093974207249"
             class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle"
             target="_blank"
             rel="noopener">
            <i class="ai-facebook"></i>
          </a>
        </div>
      </div>
      <a href="https://github.com/DenPaz"
         class="nav-link fw-normal fs-md order-md-1 p-0"
         target="_blank"
         rel="noopener">
        {% now "Y" %} © Dennis Paz
      </a>
    </div>
  </div>
</footer>
