{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Server Error (500)" %}
{% endblock title %}
{% block content %}
  <section class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-10">
      <div class="vstack align-items-center text-center gap-4">
        <h1 class="display-1 fw-bold">500</h1>
        <h2 class="h3">{% trans "Server Error" %}</h2>
        <p>{% trans "An unexpected error has occurred on the server." %}</p>
        <a href="{% url 'store:home' %}" class="btn btn-lg btn-primary w-75">{% trans "Go to Home" %}</a>
      </div>
    </div>
  </section>
{% endblock content %}
